.register-container{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(
        rgba(255,255,255,0.5), 
        rgba(255,255,255,0.5)), 
        url('https://picsum.photos/1920/1080.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-wrapper{
    width: 40%;
    padding: 20px;
    background-color: white;
}
.register-title{
    font-style: 24px;
    font-weight: 300;
}
.register-form{
    display: flex;
    flex-direction: column;

}
.register-input{
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px ;
    padding: 10px;
}
.register-agreement{
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.register-button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}
.register-button:hover{
    background-color: #00A4A4;

}
.register-terms{
    font-weight: 200;
}
.register-inputcontainer{
    display: flex;
    flex-wrap: wrap;
}